.NestedField {
  margin-top: 24px;
  border-radius: 6px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0), 1px 2px 4px rgba(0, 0, 0, 0.15);
  transition: background-color .3s, border .3s, box-shadow .3s;
}



.NestedField:hover {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.0), 0px 0px 0px rgba(0, 0, 0, 0); 
}

.NestedField.is-expanded {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0);
}

.NestedHead {
  user-select: none;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.8em;
  color: #2AD;
  cursor: pointer;
  transition: color .3s;
}

.NestedHead:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.NestedHead:before {
  padding: 12px;
  text-align: center;
  font-size: 1.8em;
  color: #2AD;
  cursor: pointer;
  transition: color .3s;
}

.NestedBody {
  display: none;
  padding: 0px 12px;
  animation: fadeIn .6s;
}

.NestedField.is-expanded > .NestedBody {
  display: block;
}

.NestedGroup {
  padding: 0px 24px 24px 24px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
}